/* 
! Mobile-First Approach
- Variables
- Reset
- Base Styles
- Utility Styles
- Mobile Styles
- Tablet Styles
- Desktop Styles 
*/

/* Variables */
:root {
    /* Primary colors */
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);

    /* Neutral Colors */
    --gray-blue: hsl(218, 34%, 14%);
    --dark-gray-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(150, 100%, 66%);
}

/* Reset Styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
}

address {
    font-style: normal;
}

/* Base styles */
body {
    background-color: var(--gray-blue);
    font-family: 'Manrope', sans-serif;
}

/* Utility Styles */
.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

/* Mobile Styles */
.container {
    margin-block-start: 5rem;
    margin-block-end: 2rem;
    width: 95%;
    max-width: 357px;
    margin-inline: auto;
    background-color: var(--dark-gray-blue);
    border-radius: 10px;
    text-align: center;
}

.wrapper {
    padding-block-start: 3rem;
    padding-inline: 2rem;
    position: relative;
}

p.adviceid {
    font-size: 0.8rem;
    letter-spacing: 2px;
    color: var(--neon-green);
    text-transform: uppercase;
    margin-block-end: 1rem;
}

q#adviceText {
    color: var(--light-cyan);
    font-size: 1.5rem;
    font-weight: 800;
    margin-block-end: 1rem;
}

img.pattern {
    margin-block-start: 1.5rem;
    margin-block-end: 2rem;
}

button {
    width: 20%;
    margin-block-end: -20px;
    border: none;
    padding: 1rem;
    border-radius: 50%;
    background-color: var(--neon-green);
}

button:hover {
    box-shadow: 3px 3px 32px 8px var(--neon-green);
    cursor: pointer;
}


/* Footer styles */
.attribution { 
    color: var(--light-cyan);
    font-size: 0.8rem; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

/* Desktop Styles */
@media (min-width: 860px) {
    .container {
        margin-block-start: 10rem;
        max-width: 400px;
        margin-block-end: 5rem;
    }
}